In [2]:
# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

# 1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
# 2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print("Original DataFrame: ")
print(df)

df.set_index('A', inplace = True)
print("DataFrame with the new index:")
print(df)
# Set the  index to be the first column
#

df2 = pd.DataFrame(np.random.randint(1,100, size = (3,3)), columns=['A','B','C'], index=['X','Y','Z'])


df2.at['Y','B']
print(df2.at['Y','B'])

Original DataFrame:
    A   B   C   D
0   2  44  91  80
1  79  94  58  54
2  36  71   7  70
3  91  24  63  83
4  31  14  37  53
5  54  82  27  63
DataFrame with the new index:
     B   C   D
A
2   44  91  80
79  94  58  54
36  71   7  70
91  24  63  83
31  14  37  53
54  82  27  63
82

In [3]:

# ### Assignment 2: DataFrame Operations

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
# 2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df3 = pd.DataFrame(np.random.randint(1,100,size=(3,3)), columns = ['A','B','C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first column and the 2nd column
df3['D']=df3['A']*df3['B']
print(" Data frame with the new column")
print(df3)


df4 = pd.DataFrame(np.random.randint(1,100,size=(3,4)), columns = ['A','B','C','D'])
print(df4)
df4.sum(axis=0)
df4.sum(axis=1)

Original DataFrame:
     B   C   D
A
2   44  91  80
79  94  58  54
36  71   7  70
91  24  63  83
31  14  37  53
54  82  27  63
 Data frame with the new column
    A   B   C     D
0  62  12  34   744
1  66  87  81  5742
2  42  35  57  1470
    A   B   C   D
0  68  10  78  13
1  42  63  79  62
2  20  80  12  73

0    169
1    246
2    185
dtype: int64

In [4]:

# ### Assignment 3: Data Cleaning

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
df5 = pd.DataFrame(np.random.randint(1,100,size=(5,3)), columns = ['A','B','C'])
df5.iloc[0,1]= np.nan
df5.iloc[2,2]= np.nan
df5.iloc[4,0]= np.nan
print("DataFrame with NaN values:")
print(df5)

df5.fillna(df.mean(), inplace=True)  ## this is the function that will  fill the NaN values for the function
print(df5)

DataFrame with NaN values:
      A     B     C
0  93.0   NaN  19.0
1  83.0  14.0  55.0
2  15.0  83.0   NaN
3  32.0  88.0  78.0
4   NaN  10.0  76.0
      A          B          C
0  93.0  54.833333  19.000000
1  83.0  14.000000  55.000000
2  15.0  83.000000  47.166667
3  32.0  88.000000  78.000000
4   NaN  10.000000  76.000000

In [ ]:

# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
df6 = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns = ['A','B','C','D'])
df6.iloc[1,2]=np.nan
df6.iloc[3,2]=np.nan
df6.iloc[1,3]=np.nan
df6.iloc[4,2]=np.nan



# df6.dropna(inplace=True)  ## drop na 
df6["D"]  ## this selection pattern is very similar to the selection of the dictionary values
# by the dictionary keys

ages = pd.Series([22,35,58],name = "Age")

ages  ## as you can see that the pandas series doesnt have the labels for the columns and 
## the rows does have the labels still

0    22
1    35
2    58
Name: Age, dtype: int64

In [44]:

# ### Assignment 4: Data Aggregation

# 1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. 
# Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column 
# with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value'
# for each category.

df7 = pd.DataFrame({'Category':np.random.choice(['A','B','C'], size = 10) , 'Value': np.random.randint(1,100, size = 10)})
print(df7)

grouped=df7.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped)

  Category  Value
0        C     39
1        B     16
2        B     86
3        A     21
4        A     23
5        B     75
6        A     46
7        B     10
8        A     13
9        A      9
          sum   mean
Category
A         112  22.40
B         187  46.75
C          39  39.00

In [51]:

# 2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. 
# Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the
#  total sales for each category.

df8 = pd.DataFrame({'Product':np.random.choice(['Prod1','Prod2','Prod3'], size = 10), 
                    'Category':np.random.choice(['A','B','C'], size=10),
                    'Sales':np.random.randint(1,100,size=10)})
df8.groupby('Category')['Sales'].sum()

Category
A    259
B    114
C     34
Name: Sales, dtype: int32

In [60]:

# ### Assignment 5: Merging DataFrames

# 1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

df9 = pd.DataFrame(np.random.randint(1,23, size = (10,2)), columns=['A','B'])
df10 = pd.DataFrame(np.random.randint(1,23, size = (10,2)), columns=['A','C'])


df_merged= pd.merge(df9,df10, on ='A', how='inner')
print(df_merged)
# 2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.
df11= pd.DataFrame({'A':np.random.randint(1,100,size=3),'B':np.random.randint(1,100,size=3)})
df13= pd.DataFrame({'C':np.random.randint(1,100,size=3),'D':np.random.randint(1,100,size=3)})

conc_data=pd.concat([df11,df13],axis=0)
print(df11)
print(df13)
print(conc_data)

Empty DataFrame
Columns: [A, B, C]
Index: []
    A   B
0  63   4
1  71  45
2  71  99
    C   D
0  41   6
1  65  55
2  95   2
      A     B     C     D
0  63.0   4.0   NaN   NaN
1  71.0  45.0   NaN   NaN
2  71.0  99.0   NaN   NaN
0   NaN   NaN  41.0   6.0
1   NaN   NaN  65.0  55.0
2   NaN   NaN  95.0   2.0

In [ ]:

# ### Assignment 6: Time Series Analysis

# 1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. 
# Resample the DataFrame to compute the monthly mean of the values.
date_range = pd.date_range(start ='2022-01-01', end= '2022-12-31',freq='D')
df14 = pd.DataFrame(date_range, columns=['date'])

df14['data'] = np.random.randint(0,100, size=(len(date_range)))
df14.set_index('date',inplace=True)
df14
monthly_mean = df14.resample('M').mean()
print(monthly_mean)

In [72]:


# 2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' 
# and one column filled with random integers. Compute the rolling mean with a window of 7 days.

date_range2= pd.date_range(start='2021-01-01', end ='2021-12-31', freq='D')
rand_integers = np.random.randint(1,100,size=(len(date_range2)))
df15= pd.DataFrame(date_range2,columns=['date'])
df15['DATA']=rand_integers
df15

df15.set_index('date', inplace=True)

rolling_mean= df15.resample('W').mean()
print(rolling_mean)

                 DATA
date
2021-01-03  31.333333
2021-01-10  56.000000
2021-01-17  44.000000
2021-01-24  36.285714
2021-01-31  55.428571
2021-02-07  64.142857
2021-02-14  77.285714
2021-02-21  44.428571
2021-02-28  64.142857
2021-03-07  52.142857
2021-03-14  45.428571
2021-03-21  32.714286
2021-03-28  44.428571
2021-04-04  55.857143
2021-04-11  26.714286
2021-04-18  32.142857
2021-04-25  34.000000
2021-05-02  58.857143
2021-05-09  55.714286
2021-05-16  45.428571
2021-05-23  43.571429
2021-05-30  57.857143
2021-06-06  48.285714
2021-06-13  26.857143
2021-06-20  28.857143
2021-06-27  53.714286
2021-07-04  31.428571
2021-07-11  66.000000
2021-07-18  48.428571
2021-07-25  46.285714
2021-08-01  54.714286
2021-08-08  62.142857
2021-08-15  52.714286
2021-08-22  45.714286
2021-08-29  43.857143
2021-09-05  46.000000
2021-09-12  51.571429
2021-09-19  46.857143
2021-09-26  47.428571
2021-10-03  53.285714
2021-10-10  45.857143
2021-10-17  52.285714
2021-10-24  62.714286
2021-10-31  59.142857
2021-11-07  66.142857
2021-11-14  55.571429
2021-11-21  40.714286
2021-11-28  45.000000
2021-12-05  29.285714
2021-12-12  58.428571
2021-12-19  49.857143
2021-12-26  62.142857
2022-01-02  41.600000

In [75]:

# ### Assignment 7: MultiIndex DataFrame

# 1. Create a Pandas DataFrame with a MultiIndex (hierarchical index).

arrays=[['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category','SubCategory'))

df = pd.DataFrame(np.random.randint(1,100, size=(4,3)),index=index, columns=['Value1','Value2','Value3'])
print(df)
print(df.loc['A'])


#  Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
print("Slicing at category B and Subcategory 'two: ")
print(df.loc[('B','two')])

                      Value1  Value2  Value3
Category SubCategory
A        one              77      52      33
         two              59       8      33
B        one              76      47      51
         two              64       1      37
             Value1  Value2  Value3
SubCategory
one              77      52      33
two              59       8      33
Slicing at category B and Subcategory 'two:
Value1    64
Value2     1
Value3    37
Name: (B, two), dtype: int32

In [82]:


# 2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. 
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index2 = pd.MultiIndex.from_arrays(arrays, names=('Category','SubCategory'))

df18 = pd.DataFrame(np.random.randint(1,100, size =(6,3)), index=index2, columns=['Value1','Value2','Value3'])
print("MultiIndex DataFrame:")
print(df18)
# Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

print(df18.loc['A'].sum())

subcategory_aOne = df18.loc[('A','one')].sum()

sum_values=df.groupby(['Category','SubCategory']).sum()
print("Sum of values:")

print(subcategory_aOne)
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              86      99      71
         two              35      87      48
B        one              91      68      74
         two              29      63      43
C        one               1      58      63
         two              67       7      42
Value1    121
Value2    186
Value3    119
dtype: int64
Sum of values:
256
                      Value1  Value2  Value3
Category SubCategory
A        one              77      52      33
         two              59       8      33
B        one              76      47      51
         two              64       1      37

In [101]:

# ### Assignment 8: Pivot Tables

# 1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'.
#  Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

date_rng=pd.date_range(start='2022-01-01', end = '2022-01-10', freq='D')
df21= pd.DataFrame({'Date':np.random.choice(date_rng, size = 20), 'Category':np.random.choice(['A','B','C'],size=20),'Value':np.random.randint(1,100,size=20)})
print(df21)

pivot_table = df.pivot_table(values='Value', index='Date',columns='Category', aggfunc='sum')
print("Pivot Table: ")
print(pivot_table)
# 2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.
df22 = pd.DataFrame({'Year':np.random.choice([2020,2021,2022], size = 12),'Quarter': np.random.choice(['Q1','Q2','Q3','Q4'], size = 12),'Revenue': np.random.randint(1,1000, size =12)})
pivot_table2=df22.pivot_table(values='Revenue',index='Year',columns='Quarter',aggfunc='mean')
print(df22)
print(pivot_table2)

         Date Category  Value
0  2022-01-08        B     22
1  2022-01-07        C     74
2  2022-01-05        C     51
3  2022-01-09        B     57
4  2022-01-06        A     74
5  2022-01-07        A     73
6  2022-01-06        A     40
7  2022-01-01        A     94
8  2022-01-03        A     53
9  2022-01-10        C     96
10 2022-01-06        C     41
11 2022-01-03        A     49
12 2022-01-08        B     88
13 2022-01-09        B     76
14 2022-01-01        A     82
15 2022-01-02        A     42
16 2022-01-01        A     52
17 2022-01-03        B     80
18 2022-01-01        B     35
19 2022-01-06        A     97
Pivot Table:
Category        A     B      C
Date
2022-01-01   22.0  68.0  150.0
2022-01-03  141.0  60.0    7.0
2022-01-04   37.0   NaN   29.0
2022-01-05    NaN   NaN   75.0
2022-01-06   31.0   NaN   81.0
2022-01-08   88.0   NaN   29.0
2022-01-09    NaN  13.0   14.0
2022-01-10    NaN  26.0    NaN
    Year Quarter  Revenue
0   2021      Q1        8
1   2022      Q1      406
2   2021      Q3       41
3   2020      Q4      914
4   2022      Q1      309
5   2021      Q4      894
6   2021      Q4      822
7   2022      Q1      348
8   2021      Q2      468
9   2021      Q4      857
10  2021      Q1      829
11  2021      Q4      804
Quarter          Q1     Q2    Q3      Q4
Year
2020            NaN    NaN   NaN  914.00
2021     418.500000  468.0  41.0  844.25
2022     354.333333    NaN   NaN     NaN

In [95]:

# ### Assignment 9: Applying Functions

# 1. Create a Pandas DataFrame with 3 columns
#  and 5 rows filled with random integers. 
# Apply a function that doubles the values of the DataFrame.

df25=pd.DataFrame(np.random.randint(1,21,size=(5,3)), columns =(['A','B','C']))
df_doubled = df25.applymap(lambda x:x*2)
print(" DOubled Data Frame")
print(df_doubled)

 DOubled Data Frame
    A   B   C
0  12  28  22
1  10   2  38
2  34  30  16
3  32   2   6
4  24  26  22

C:\Users\600790\AppData\Local\Temp\ipykernel_37772\2477426562.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df25.applymap(lambda x:x*2)

In [97]:

# 2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.
df26=pd.DataFrame(np.random.randint(1,9,size=(6,3)), columns =(['A','B','C']))

df26['SUM_OF_COLUMNS']=df26.aggregate('sum',axis=1)
df26

   A  B  C  SUM_OF_COLUMNS
0  6  8  5              19
1  2  1  7              10
2  7  5  3              15
3  5  3  6              14
4  5  5  5              15
5  6  7  8              21

In [ ]:

# ### Assignment 10: Working with Text Data

# 1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

text_data= pd.Series(['apple','banana','cherry','date','elderberry'])
print("Original Series")
print(text_data)

upper_caseData = text_data.str.upper()
print("Uppercase Series: ")
print(upper_caseData)

In [104]:

# 2. Create a Pandas Series with 5 random text strings. 
# Extract the first three characters of each string.

text_data2 = pd.Series(['apple','banana','cherry','date','elderberry'])
print(text_data2)

sliced_Data =text_data2.str.slice(0,3)
print(sliced_Data)

0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
0    app
1    ban
2    che
3    dat
4    eld
dtype: object